@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ValidationSummary(true)
<div class="container">
    <div class="row" style="min-height: 800px;">
        <div class="panel panel-default" style="width:350px;">
            <div class="panel-body">
                Atualizar cadastro
            </div>
            <div class="panel-footer">
                @Html.Raw(@ViewBag.Confirmation)
                <form method="POST">

                    <label>Nome</label>
                    @Html.TextBox("firstName", (string)ViewBag.FirstName, new { @class = "form-control", @style = "width:500px;" })
                    @*@Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "validation-errors" })*@<br />
                    <label>Sobrenome</label>
                    @Html.TextBox("lastName", (string)ViewBag.LastName, new { @class = "form-control", @style = "width:500px;" })
                    @*@Html.ValidationMessageFor(m => m.LastName, null, new { @class = "validation-errors" })*@<br />
                    <label>CPF</label>
                    @Html.TextBox("document", (string)ViewBag.Document, new { @class = "form-control", @style = "width:500px;" })
                    @*@Html.ValidationMessageFor(m => m.Document, null, new { @class = "validation-errors" })*@<br />
                    <label>Data de nascimento</label>
                    @Html.TextBox("birthDate", (string)ViewBag.BirthDate, new { @class = "form-control", @style = "width:500px;" })
                    @*@Html.ValidationMessageFor(m => m.BirthDate, null, new { @class = "validation-errors" })*@<br />
                    <label>Email</label>
                    @Html.TextBox("email", (string)ViewBag.Email, new { @class = "form-control", @style = "width:500px;" })
                    @*@Html.ValidationMessageFor(m => m.Email, null, new { @class = "validation-errors" })*@<br />
                    <a href="/Auth/ChangePassword">Mudar minha senha</a><br /><br />
                    <p>
                        <button class="btn btn-primary" type="submit">Atualizar</button>
                    </p>
                </form>

            </div>

        </div>
    </div>
</div>
