<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Página inicial - Fantasy Store</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Fantasy Store</h1>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Menu</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categorias <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Bebê</a></li>
                                <li><a href="#">Infantil</a></li>
                                <li><a href="#">Teen</a></li>
                                <li><a href="#">Adulto </a></li>
                                <li><a href="#">Acessórios</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Empresa </a></li>
                        <li><a href="#">Contato </a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="col-lg-6">
                            <div class="input-group" style="margin-left:30px;">
                                <input type="text" class="form-control" style="width: 500px;" placeholder="Pesquise por nome, código ou faixa de preço do produto">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Buscar</button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <a href="#"><p class="navbar-text" style="margin-left: 60px;">Login</p></a>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Minhas informações <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Minha conta</a></li>
                                <li><a href="#">Meus pedidos</a></li>
                                <li><a href="#">Lista de desejos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    </div>
</body>
</html>
